{% extends 'base.html.twig' %}


{% block title %}
    Vue du dashboard
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center">{{ meeting.meetingName }}</h2> 
    </div>

    <div class="container">
        <h3>Détails du meeting</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Jour du meeting</th>
                    <th scope="col">Début à</th>
                    <th scope="col">Fin à</th>
                    <th scope="col">Durée totale</th>
                </tr>
            </thead>
            <tbody>
                <td>{{ meeting.meetingName }}</td>
                <td>{{ meeting.starttime | date("F j, Y") }}</td>
                <td>{{ meeting.starttime | date("H:i") }}</td>
                <td>{{ meeting.endtime | date("H:i") }}</td>
                <td>{{ meeting.duration is empty ? "Non spécifiée" :
                "%02dh %02dm %02ds" | format(meeting.duration // 3600, (meeting.duration % 3600) // 60, meeting.duration % 60) }}</td>
        </table>
    </div>
    
    <div class="container-fluid mt-5 p-5">
        <h3 class="text-center">Activité</h3>
        <table class="table table-hover table-bordered mt-5">
            <thead class="">
                <tr>
                    <th class="justify-content-center text-center" scope="col">Utilisateur
                        <div class="container text-center">
                            <small class="text-muted">Inclure dans l'activité</small>
                        </div></th>
                    <th class="justify-content-center text-center" scope="col">Temps en ligne
                        <div class="container">
                            <input class="form-check-input calculate-user-option-checkbox" type="checkbox" id="online-time-checkbox" checked="true">
                            <label class="form-check-label" for="online-time-checkbox"></label>
                        </div></th>
                    <th class="justify-content-center text-center" scope="col">Temps de parole
                        <div class="container">
                            <input class="form-check-input calculate-user-option-checkbox" type="checkbox" id="talk-time-checkbox" checked="true">
                            <label class="form-check-label" for="talk-time-checkbox"></label>
                        </div></th>
                    <th class="justify-content-center text-center" scope="col">Temps de partage de caméra
                        <div class="container">
                            <input class="form-check-input calculate-user-option-checkbox" type="checkbox" id="webcam-time-checkbox" checked="true">
                            <label class="form-check-label" for="webcam-time-checkbox"></label>
                        </div></th>
                    <th class="justify-content-center text-center" scope="col">Messages
                        <div class="container">
                            <input class="form-check-input calculate-user-option-checkbox" type="checkbox" id="message-count-checkbox" checked="true">
                            <label class="form-check-label" for="message-count-checkbox"></label>
                        </div></th>
                    <th class="justify-content-center text-center" scope="col">Emojis
                        <div class="container">
                            <input class="form-check-input calculate-user-option-checkbox" type="checkbox" id="emojis-checkbox" checked="true">
                            <label class="form-check-label" for="emojis-checkbox"></label>
                        </div></th>
                    <th class="justify-content-center text-center" scope="col">Mains levées
                        <div class="container">
                            <input class="form-check-input calculate-user-option-checkbox" type="checkbox" id="raised-hand-checkbox" checked="true">
                            <label class="form-check-label" for="raised-hand-checkbox"></label>
                        </div></th>
                    <th class="justify-content-center text-center align-middle" scope="col">Niveau d'activité</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {# Add the teacher #}

                <tr>
                    <td class="flex">
                        <div class="row">
                            <div class="inline-block col-sm">
                                {{ meeting.event.teacher }}
                                <p class="text-xs text-muted mb-0 mt-2"><i class="bi bi-arrow-right-square me-2"></i>{{ meeting.starttime | date("H:i") }}</p>
                                <p class="text-xs text-muted mb-0"><i class="bi bi-arrow-left-square me-2"></i>{{ meeting.endtime | date("H:i") }}</p>
                            </div>
                            <div class="col-sm justify-content-center">
                                {# <img src="{{ meeting.event.teacher.avatar }}" alt="Avatar de l'intervenant" class="rounded-circle" width="50" height="50"> #}
                                <small class="text-muted text-uppercase">Intervenant</small>
                            </div>
                        </div>
                    </td>
                    {# TODO: Add more properties #}
                </tr>
                {% for cours in all_courses %}
                    <tr>
                        <td class="flex">
                            <div class="inline-block">
                                {{ cours.eleve }}
                                <p class="text-xs text-muted mb-0 mt-2"><i class="bi bi-arrow-right-square me-2"></i>{{ cours.starttime | date("H:i") }}</p>
                                <p class="text-xs text-muted mb-0"><i class="bi bi-arrow-left-square me-2"></i>{{ cours.endtime | date("H:i") }}</p>
                            </div>
                        </td>
                        <td class="flex align-middle">
                            <div class="inline-block text-center">
                                {% if cours.onlineTime is empty or cours.onlineTime == 0 %}
                                    <p class="mb-0">Absent</p>
                                    <i class="bi bi-calendar-x"></i>
                                {% else %}
                                    {% set seconds_full = cours.onlineTime / 1000 %}
                                    {% set hours = seconds_full // 3600 %}
                                    {% set minutes = (seconds_full % 3600) // 60 %}
                                    {% set seconds = (seconds_full % 60) %}

                                    {% if hours == 0 and minutes == 0 %}
                                        Moins d'une minute
                                    {% elseif hours == 0 %}
                                        {{ minutes }} minute(s)
                                    {% else %}
                                        {{ "%02dh %02dm %02ds"|format(hours, minutes, seconds) }}
                                    {% endif %}
                                    <div class="progress">
                                        {% set step = 1 %}
                                        {% set percentage = (((100/step) * seconds_full / meeting.duration) | round(0, 'common')) * step %}
                                        <div class="progress-bar" role="progressbar" style="width: {{ percentage }}%">{{ percentage }} %</div>
                                    </div>
                                {% endif %}
                        </td>
                        <td class="flex text-center align-middle">
                            {% if cours.talkTime is empty %}
                                Non spécifié
                            {% elseif cours.talkTime == 0 %}
                                <p class="mb-0">Pas de parole</p>
                                <i class="bi bi-mic-mute-fill"></i>
                            {% else %}
                                {% set seconds_full = cours.talkTime / 1000 %}
                                {% set hours = seconds_full // 3600 %}
                                {% set minutes = (seconds_full % 3600) // 60 %}
                                {% set seconds = (seconds_full % 60) %}

                                <i class="bi bi-mic me-1"></i>
                                {% if hours == 0 and minutes == 0 %}
                                    &lt; 1 minute
                                {% elseif hours == 0 %}
                                    {{ minutes }} minute(s)
                                {% else %}
                                    {{ "%02dh %02dm %02ds"|format(hours, minutes, seconds) }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="flex text-center align-middle">
                            {% if cours.webcamTime is empty %}
                                Non spécifié
                            {% elseif cours.webcamTime == 0 %}
                                <p class="mb-0">Pas de caméra</p>
                                <i class="bi bi-camera-video-off-fill"></i>
                            {% else %}
                                {% set seconds_full = cours.webcamTime / 1000 %}
                                {% set hours = seconds_full // 3600 %}
                                {% set minutes = (seconds_full % 3600) // 60 %}
                                {% set seconds = (seconds_full % 60) %}

                                <i class="bi bi-camera-video me-1"></i>
                                {% if hours == 0 and minutes == 0 %}
                                    &lt; 1 minute
                                {% elseif hours == 0 %}
                                    {{ minutes }} minute(s)
                                {% else %}
                                    {{ "%02dh %02dm %02ds"|format(hours, minutes, seconds) }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="flex text-center align-middle">
                            {# Si le nombre de message est null ou = 0, alors on affiche une icone #}
                            {% if cours.messageCount is empty or cours.messageCount == 0 %}
                                <p class="mb-0">Pas de message</p>
                                <i class="bi bi-chat-right-dots-fill"></i>
                            {% else %}
                                <i class="bi bi-chat-right-dots me-1"></i>
                                x {{ cours.messageCount }}
                            {% endif %}
                        </td>
                        <td class="flex text-center align-middle">
                            {# Si le nombre d'emoji est null ou = 0, alors on affiche une icone #}
                            {% if cours.emojis is empty or (cours.emojis | length) < 1 or (((cours.emojis | length) == 1) and cours.emojis.raiseHand is defined) %}
                                <p class="mb-0">Pas de réaction</p>
                                <i class="bi bi-emoji-frown-fill"></i>
                            {% else %}
                                {% for name, emoji in cours.emojis %}
                                    {% if name != "raiseHand" %}
                                        <p class="mb-0">
                                            <i class="{{ emojis_visual_map[name] }} me-1"></i>
                                            x {{ emoji.count }}
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td class="flex text-center align-middle">
                            {# Si il n'y a pas d'émoji ou que raiseHand n'est pas défini, alors on affiche une icone #}
                            {% if cours.emojis is empty or not cours.emojis.raiseHand is defined %}
                                <p class="mb-0">Pas de main levée</p>
                                <i class="bi bi-person-raised-hand"></i>
                            {% else %}
                                <i class="{{ emojis_visual_map.raiseHand }} me-1"></i>
                                x {{ cours.emojis.raiseHand.count }}
                            {% endif %}
                        </td>
                        <td class="flex text-center align-middle" >
                            <div id="activity-level-{{ cours.id }}">
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {# Loads the courses in a constant so the JS script can access it #}
    <script>
        const courses_json_data = {{ json_courses|json_encode|raw }};
    </script>
    <script src="{{ asset('js/dashboard_show_scripts.js') }}"></script>
{% endblock %}