<!DOCTYPE html>
<html lang="en" data-darkreader-mode="dynamic" data-darkreader-scheme="dark" dir="ltr">
<header>
    <title>Dashboard</title>
</header>
<body>
   <h1>Dashboard for meeting {{ meeting.meetingId }}</h1> 
   <ul>
        <li>Nom : {{ meeting.meetingName }}</li>
        <li>Jour du meeting : {{ meeting.starttime | date("F j, Y") }}</li>
        <li>Début à : {{ meeting.starttime | date("H:i") }}</li>
        <li>À terminé à : {{ meeting.endtime | date("H:i") }}</li>
        <li>Durée totale : {{ meeting.duration is empty ? "Non spécifiée" : meeting.duration | date("H:i:s") }}</li>
    </ul>
</body>

</html>